<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.9.0/mdb.min.js"></script>
    <title>Wayfinder Admin</title>
</head>
<body>
    <!--Taskbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Wayfinder Admin</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Temp</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="padding-right: 25px;">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="na vbarDropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                            <!-- <li th:each="user : ${userList}"> </li> -->
                                <!-- <span th:text="${user.username} + ' | ' ${user.firstName} + ' | ' + ${user.lastName} + ' | ' + ${user.email}"></span> -->
                                <span th:text="${user.username}">
                                </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" style="min-width: 20px;">
                        <li>
                            <a class="dropdown-item" href="/logout">Log out</a>
                        </li>
                    </ul>
                </li>
            </ul>
          </div>
        </div>
    </nav>

    <!--Show users and corresponding attributes-->
    <!--TODO: test with DB connection later-->
    <!--TODO: add other DB attributes once added-->
    <!--TODO next iteration: add search bar for users-->
    <div class="container" style="padding-top: 25px">
        <div class="row">
            <div class="">
                <div class="container">
                    <h2>Users</h2>
                    <ul>
                        <li th:each="user:${userList}">
                            <!-- <span th:text="${user.username} + ' | ' ${user.firstName} + ' | ' + ${user.lastName} + ' | ' + ${user.email}"></span> -->
                            <span th:text="${user.username} + ' | ' +${user.uid} + ' | '  + ${user.firstName} + ' | ' + ${user.lastName} + ' | ' + ${user.email}";> </span>
                            </li>
                    </ul>
                    <!--<form class="col-md-4">
                        <input class="form-control me-2" type="search" placeholder="Search users..." aria-label="Search">    
                    </form>-->
                </div>
            </div>
        </div>
    </div>
</body>
</html>
