<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.9.0/mdb.min.js" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/mdb-ui-kit@3.9.0/dist/css/mdb.min.css" rel="stylesheet">
    <title>Wayfinder</title>
</head>
<body>
    <!--Taskbar-->
    <!--TODO: ACC/LOGIN redirects-->
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Wayfinder</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Temp</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="padding-right: 25px;">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">UserID </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" style="min-width: 20px; float:right; right:0">
                        <li>
                            <a class="dropdown-item" href="/logout">Log out</a>
                        </li>
                    </ul>
                </li>
            </ul>
          </div>
        </div>
    </nav> -->

    <!--Add prefs container-->
    <div class="container-fluid d-flex justify-content-center">
        <div class="col-md-4 m-sm-4" id="formInputsCont">
            <!--ADD CORRECT FORM PATH LATER-->
            <form action="/user/addPrefs" method="post" class="errorCheck" novalidate>
                <h2 class="row justify-content-center">Set Preferences</h2>
                <div class="container p-1">
                    <label for="access">Accessibility</label>
                    <select class="form-select" id="access" name="access" required>
                        <option selected disabled value="">Choose...</option>
                        <option>Wheelchair</option>
                        <option>None</option>
                    </select>
                    <div class="invalid-feedback">Please select an option</div>
                </div>
                <div class="container p-1">
                    <label for="diet">Dietary Restrictions</label>
                    <select class="form-select" id="diet" name="diet" required>
                        <option selected disabled value="">Choose...</option>
                        <option>Halal</option>
                        <option>Vegetarian</option>
                        <option>Vegan</option>
                        <option>Pescatarian</option>
                        <option>None</option>
                    </select>
                    <div class="invalid-feedback">Please select an option</div>
                </div>
                <div class="container p-1">
                    <label for="language1">Language Preferred #1</label>
                    <select class="form-select" id="language1" name="language1" required>
                        <option selected disabled value="">Choose...</option>
                        <option>English</option>
                        <option>French</option>
                        <option>Spanish</option>
                    </select>
                    <div class="invalid-feedback">Please select an option</div>
                </div>
                <div class="container p-1">
                    <label for="language2">Language Preferred #2</label>
                    <select class="form-select" id="language2" name="language2" required>
                        <option selected disabled value="">Choose...</option>
                        <option>English</option>
                        <option>French</option>
                        <option>Spanish</option>
                        <option>None</option>
                    </select>
                    <div class="invalid-feedback">Please select an option</div>
                </div>
                <div class="container p-1">
                    <label for="language3">Language Preferred #3</label>
                    <select class="form-select" id="language3" name="language3" required>
                        <option selected disabled value="">Choose...</option>
                        <option>English</option>
                        <option>French</option> 
                        <option>Spanish</option>
                        <option>None</option>
                    </select>
                    <div class="invalid-feedback">Please select an option</div>
                </div>

                <div class="d-grid gap-2" style="padding-top: 10px;">
                    <input class="btn btn-primary" id="addPrefsNewUser" href= "/userLanding" type = "submit" submit value="Submit"></input>
                </div> 


            </form>
        </div>
    </div>

    <script>
        (() => {
        'use strict'
        // gets all input boxes that need to be error checked
        const forms = document.querySelectorAll('.errorCheck')

        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
            if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
            }

            form.classList.add('was-validated')
            }, false)
        })
        })()

        // Get references to the language select elements
        const language1Select = document.getElementById('language1');
        const language2Select = document.getElementById('language2');
        const language3Select = document.getElementById('language3');
        
        // Function to update options in other language selects
        function updateLanguageOptions(languageBox) {
            const options1 = language1Select.querySelectorAll('option');
            const options2 = language2Select.querySelectorAll('option');
            const options3 = language3Select.querySelectorAll('option');
            var languages = [];

            // Get the selected values from all language selects
            var selectedValues = [
                language1Select.value,
                language2Select.value,
                language3Select.value
            ];

            // Exclude "None" values from selectedValues
            var filteredValues = selectedValues.filter(value => value !== 'None');

            // Add unique selected values to the languages array
            filteredValues.forEach(value => {
                if (!languages.includes(value)) {
                languages.push(value);
                }
            });
            
            // Loop through the options and enable/disable based on selected values
            options1.forEach(option => {
                if (languages.includes(option.value) && (option.value != language1Select.value)) {
                    option.disabled = true;
                } else {
                    option.disabled = false;
                }
            });
            options2.forEach(option => {
                if (languages.includes(option.value) && (option.value != language2Select.value)) {
                    option.disabled = true;
                } else {
                    option.disabled = false;
                }
            });
            options3.forEach(option => {
                if (languages.includes(option.value) && (option.value != language3Select.value)) {
                    option.disabled = true;
                } else {
                    option.disabled = false;
                }
            });
        }
        language1Select.addEventListener("change", updateLanguageOptions.bind(null, language1Select))
        language2Select.addEventListener("change", updateLanguageOptions.bind(null, language2Select))
        language3Select.addEventListener("change", updateLanguageOptions.bind(null, language3Select))

    </script>

</body>
</html>