<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>WayFinder</title>
    
        <!-- Meta Tags -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Trip Planner - Plan Itinerary here">
    
        <!-- Favicon -->
        <link rel="shortcut icon" href="/images/favicon.ico"/>
    
        <!-- Google Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com"/>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap"/>
    
        <!-- Plugins CSS -->
        <link rel="stylesheet" type="text/css" href="/vendor/font-awesome/css/all.min.css"/>
        <link rel="stylesheet" type="text/css" href="/vendor/bootstrap-icons/bootstrap-icons.css"/>
        <link rel="stylesheet" type="text/css" href="/vendor/tiny-slider/tiny-slider.css"/>
        <link rel="stylesheet" type="text/css" href="/vendor/glightbox/css/glightbox.css"/>
        <link rel="stylesheet" type="text/css" href="/vendor/choices/css/choices.min.css"/>
        <link rel="stylesheet" type="text/css" href="/vendor/splide-master/dist/css/splide.min.css">
        <link rel="stylesheet" type="text/css" href="/vendor/flatpickr/css/flatpickr.min.css"/>
    
        <!-- Theme CSS -->
        <link rel="stylesheet" type="text/css" href="/css/style.css"/>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script th:src="@{/js/loading.js}"></script>
    </head>
<body>
    <!--Add prefs container-->
    <div class="container-fluid d-flex justify-content-center">
        <div class="col-md-4 m-sm-4" id="formInputsCont">
            <!--ADD CORRECT FORM PATH LATER-->
            <form action="/user/addPrefs" method="post" class="errorCheck" novalidate>
                <h2 class="row justify-content-center">Set Preferences</h2>
                <div class="container p-1">
                    <label for="access">Accessibility</label>
                    <select class="form-select" id="access" name="access" required>
                        <option selected disabled value="">Choose...</option>
                        <option>Wheelchair</option>
                        <option>None</option>
                    </select>
                    <div class="invalid-feedback">Please select an option</div>
                </div>
                <div class="container p-1">
                    <label for="diet">Dietary Restrictions</label>
                    <select class="form-select" id="diet" name="diet" required>
                        <option selected disabled value="">Choose...</option>
                        <option>Halal</option>
                        <option>Vegetarian</option>
                        <option>Vegan</option>
                        <option>Pescatarian</option>
                        <option>None</option>
                    </select>
                    <div class="invalid-feedback">Please select an option</div>
                </div>
                <div class="container p-1">
                    <label for="language1">Language Preferred #1</label>
                    <select class="form-select" id="language1" name="language1" required>
                        <option selected disabled value="">Choose...</option>
                        <option>English</option>
                        <option>French</option>
                        <option>Spanish</option>
                    </select>
                    <div class="invalid-feedback">Please select an option</div>
                </div>
                <div class="container p-1">
                    <label for="language2">Language Preferred #2</label>
                    <select class="form-select" id="language2" name="language2" required>
                        <option selected disabled value="">Choose...</option>
                        <option>English</option>
                        <option>French</option>
                        <option>Spanish</option>
                        <option>None</option>
                    </select>
                    <div class="invalid-feedback">Please select an option</div>
                </div>
                <div class="container p-1">
                    <label for="language3">Language Preferred #3</label>
                    <select class="form-select" id="language3" name="language3" required>
                        <option selected disabled value="">Choose...</option>
                        <option>English</option>
                        <option>French</option> 
                        <option>Spanish</option>
                        <option>None</option>
                    </select>
                    <div class="invalid-feedback">Please select an option</div>
                </div>

                <div class="d-grid gap-2" style="padding-top: 10px;">
                    <input class="btn btn-primary" id="addPrefsNewUser" href= "/userLanding" type = "submit" submit value="Submit"></input>
                </div> 


            </form>
        </div>
    </div>

    <script>
        (() => {
        'use strict'
        // gets all input boxes that need to be error checked
        const forms = document.querySelectorAll('.errorCheck')

        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
            if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
            }

            form.classList.add('was-validated')
            }, false)
        })
        })()

        // Get references to the language select elements
        const language1Select = document.getElementById('language1');
        const language2Select = document.getElementById('language2');
        const language3Select = document.getElementById('language3');
        
        // Function to update options in other language selects
        function updateLanguageOptions(languageBox) {
            const options1 = language1Select.querySelectorAll('option');
            const options2 = language2Select.querySelectorAll('option');
            const options3 = language3Select.querySelectorAll('option');
            var languages = [];

            // Get the selected values from all language selects
            var selectedValues = [
                language1Select.value,
                language2Select.value,
                language3Select.value
            ];

            // Exclude "None" values from selectedValues
            var filteredValues = selectedValues.filter(value => value !== 'None');

            // Add unique selected values to the languages array
            filteredValues.forEach(value => {
                if (!languages.includes(value)) {
                languages.push(value);
                }
            });
            
            // Loop through the options and enable/disable based on selected values
            options1.forEach(option => {
                if (languages.includes(option.value) && (option.value != language1Select.value)) {
                    option.disabled = true;
                } else {
                    option.disabled = false;
                }
            });
            options2.forEach(option => {
                if (languages.includes(option.value) && (option.value != language2Select.value)) {
                    option.disabled = true;
                } else {
                    option.disabled = false;
                }
            });
            options3.forEach(option => {
                if (languages.includes(option.value) && (option.value != language3Select.value)) {
                    option.disabled = true;
                } else {
                    option.disabled = false;
                }
            });
        }
        language1Select.addEventListener("change", updateLanguageOptions.bind(null, language1Select))
        language2Select.addEventListener("change", updateLanguageOptions.bind(null, language2Select))
        language3Select.addEventListener("change", updateLanguageOptions.bind(null, language3Select))

    </script>

</body>
</html>