<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/addUser.css}">
    <script th:src="@{/js/addUser.js}"></script>
    <title>Add a User</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
    <!-- navigation setup -->
    <!-- <div class="container d-flex flex-row justify-content-center align-items-center">
        <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
            <!-- Nav -->
            <!-- <div class="container">
                <a class="navbar-brand" href="#">Wayfinder</a> -->
                <!-- links -->
                <!-- <ul class="navbar-nav d-flex flex-row">
                    <li class="nav-item p-2 .flex-fill">
                        <a class="nav-link" href="./home.html">Home</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div> -->

    <!-- from inclass code (abiet modified to assignment needs) -->
    <!-- Outputs: fname, lname, email, username, password, password2 (for confirmation) -->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h1 class="text-center mt-5 mb-4">Registration</h1>
                <form action="/user/addUser" th:action="@{/user/addUser}" th:object="${addUser}" method="post">

                    <div class="mb-3">

                        <input type="text" id="fname" name="fname" class="form-control form-control-lg"
                            placeholder="First Name" th:value="*{fName}" required>
                    </div>
                    <div class="mb-3">

                        <input type="text" id="lname" name="lname" class="form-control form-control-lg"
                            placeholder="Last Name" th:value="*{lName}" required>
                    </div>
                    <div class="mb-3">
                        <input type="email" id="email" name="email" class="form-control form-control-lg"
                            placeholder="Email Address" th:value="*{email}" required>
                        <div th:if="${emailUsed}" class="error-message text-danger">[[${emailUsed}]]</div>
                    </div>
                    <div class="mb-3">

                        <input type="text" id="username" name="username" class="form-control form-control-lg"
                            placeholder="Username" th:value="*{username}" required>
                        <div th:if="${usernameUsed}" class="error-message text-danger">[[${usernameUsed}]]</div>
                    </div>


                    <div class="mb-3">
                        <div class="input-group d-flex">
                            <input type="password" class="form-control form-control-lg" placeholder="Password"
                             id="password-input" />
                            <div class="valid-feedback">Valid</div>
                            <div class="invalid-feedback">Invalid</div>
                        </div>
                    </div>

                    <!-- password validation -->
                    <div class="w-auto h-auto">
                        <div class="alert d-none" role="alert" data-mdb-color="warning" id="password-alert">
                            <ul class="list-unstyled mb-0">
                                <li class="requirements leng">
                                    <span class="chargood text-primary">Your password has least 8 characters. </span>
                                    <span class="charbad text-danger">Your password must have at least 8 characters.
                                    </span>
                                </li>
                                <li class="requirements big-letter">
                                    <span class="biglgood text-primary">Your password has at least 1 capital letter.
                                    </span>
                                    <span class="biglbad text-danger">Your password must have at least 1 capital letter.
                                    </span>
                                </li>
                                <li class="requirements num">
                                    <span class="numgood text-primary">Your password has at least 1 number. </span>
                                    <span class="numbad text-danger">Your password must have at least 1 number. </span>
                                </li>
                                <li class="requirements special-char">
                                    <span class="chargood text-primary">Your password has at least 1 special character.
                                    </span>
                                    <span class="charbad text-danger">Your password must have at least 1 special
                                        character. </span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- password verification -->
                    <div class="mb-3">
                        <div class="input-group d-flex">
                            <input type="password" id="password2" name="password2" class="form-control form-control-lg"
                                placeholder="Repeat your Password" required>
                            <div class="valid-feedback">The password you entered matches the above</div>
                            <div class="invalid-feedback">The password you entered does not match</div>
                        </div>
                    </div>

                    <!-- Submit button -->

                    <div class="d-grid gap-2">
                        <input class="btn btn-primary" id="regButton" type="submit" href = "addPrefs"value="REGISTER" disabled></input>
                    </div> 

                    <p class="text-center">Already have an account? <a href="../login" class="fw-bold"><u>Login here</u></a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</body>

</html>