<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>WayFinder - Registration</title>

    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Trip Planner - Plan Itinerary here">

    <link rel="stylesheet" th:href="@{/css/addUser.css}">
    <script th:src="@{/js/addUser.js}"></script>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico"/>

    <!-- footer bottom css -->
    <link rel="stylesheet" href="/css/footerBottomFixed.css">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap"/>

    <!-- Plugins CSS -->
    <link rel="stylesheet" type="text/css" href="/vendor/font-awesome/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap-icons/bootstrap-icons.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/tiny-slider/tiny-slider.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/glightbox/css/glightbox.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/choices/css/choices.min.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/splide-master/dist/css/splide.min.css">
    <link rel="stylesheet" type="text/css" href="/vendor/flatpickr/css/flatpickr.min.css"/>

    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/loading.js}"></script>
</head>
<body>
    <div id="page-container">
		<div id="content-wrap">
    <!-- from inclass code (abiet modified to assignment needs) -->
    <!-- Outputs: fname, lname, email, username, password, password2 (for confirmation) -->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h1 class="text-center mt-5 mb-4">Registration</h1>
                <form action="/user/addUser" th:action="@{/user/addUser}" th:object="${addUser}" method="post">

                    <div class="mb-3">

                        <input type="text" id="fname" name="fname" class="form-control form-control-lg"
                            placeholder="First Name" th:value="*{fName}" required>
                            <div th:if="${flength}" class="error-message text-danger">[[${flength}]]</div>
                    </div>
                    <div class="mb-3">

                        <input type="text" id="lname" name="lname" class="form-control form-control-lg"
                            placeholder="Last Name" th:value="*{lName}" required>
                            <div th:if="${llength}" class="error-message text-danger">[[${llength}]]</div>
                    </div>
                    <div class="mb-3">
                        <input type="email" id="email" name="email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="form-control form-control-lg"
                            placeholder="Email Address" th:value="*{email}" required>
                        <div th:if="${emailUsed}" class="error-message text-danger">[[${emailUsed}]]</div>
                        <div th:if="${elength}" class="error-message text-danger">[[${elength}]]</div>
                    </div>
                    <div class="mb-3">

                        <input type="text" id="username" name="username" class="form-control form-control-lg"
                            placeholder="Username" th:value="*{username}" required>
                        <div th:if="${usernameUsed}" class="error-message text-danger">[[${usernameUsed}]]</div>
                        <div th:if="${ulength}" class="error-message text-danger">[[${ulength}]]</div>
                    </div>


                    <div class="mb-3">
                        <input type="password" class="form-control form-control-lg" placeholder="Password"
                            id="password-input" />
                            <div th:if="${plength}" class="error-message text-danger">[[${plength}]]</div>
                        <div class="valid-feedback">Valid</div>
                        <div class="invalid-feedback">Invalid</div>
                        <!-- <input type="password" class="form-control form-control-lg" placeholder="Password" id="password-input" />
                        <div id="password-validation" class="valid-feedback">Valid</div>
                        <div id="password-invalid" class="invalid-feedback">Invalid</div> -->

                    </div>

                    <!-- password validation -->
                    <div class="w-auto h-auto">
                        <div class="alert d-none" role="alert" data-mdb-color="warning" id="password-alert">
                            <ul class="list-unstyled mb-0">
                                <li class="requirements leng">
                                    <span class="chargood text-primary">Your password has at least 8 characters. </span>
                                    <span class="charbad text-danger">Your password must have at least 8 characters.
                                    </span>
                                </li>
                                <li class="requirements big-letter">
                                    <span class="biglgood text-primary">Your password has at least 1 capital letter.
                                    </span>
                                    <span class="biglbad text-danger">Your password must have at least 1 capital letter.
                                    </span>
                                </li>
                                <li class="requirements num">
                                    <span class="numgood text-primary">Your password has at least 1 number. </span>
                                    <span class="numbad text-danger">Your password must have at least 1 number. </span>
                                </li>
                                <li class="requirements special-char">
                                    <span class="chargood text-primary">Your password has at least 1 special character.
                                    </span>
                                    <span class="charbad text-danger">Your password must have at least 1 special
                                        character. </span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- password verification -->
                    <div class="mb-3">
                        <input type="password" id="password2" name="password2" class="form-control form-control-lg"
                            placeholder="Repeat your Password" required>
                        <div class="valid-feedback">The password you entered matches the above</div>
                        <div class="invalid-feedback">The password you entered does not match</div>
                    </div>

                    <!-- Submit button -->

                    <div class="d-grid gap-2">
                        <input class="btn btn-primary" id="regButton" type="submit" href="addPrefs" value="REGISTER"
                            disabled></input>
                    </div>

                    <p class="text-center">Already have an account? <a href="../login" class="fw-bold"><u>Login
                                here</u></a>
                    </p>
                </form>
            </div>
        </div>
    </div>
        </div>
        <!-- footer start -->
        <footer class="bg-dark" id="footer">
            <div class="container">
                <!-- Bottom footer -->
                <div class="row">
                    <div class="container">
                        <div class="d-lg-flex justify-content-between align-items-center py-3 text-center text-lg-start">
                            <!-- copyright text -->
                            <div class="my-3 text-muted">Created by Project Group 12</div>
                            <div class="text-muted text-primary-hover"> © 2023 WayFinder. All Rights Reserved. </div>
                            <!-- copyright links-->
                        </div>
                    </div>
                </div>
            </div>
        <a id="linkToTripDisplay" href="/user/tripDisplay" style="display: none"></a>
    </footer>
    </div>
</body>


    <script>
        const user = document.getElementById("username");
        const first = document.getElementById("fname");
        const last = document.getElementById("lname");
        const email = document.getElementById("email");
        const password = document.getElementById("password-input");
        email.addEventListener("input", () => {
            if(email.value.length > 64)
                alert("The email you entered is too long!");
        });
        user.addEventListener("input", () => {
            if(user.value.length > 16)
                alert("The username you entered is too long!");
        });
        first.addEventListener("input", () => {
            if(first.value.length > 16)
                alert("The first name you entered is too long!");
        });
        last.addEventListener("input", () => {
            if(last.value.length > 16)
                alert("The last name you entered is too long!");
        });
        password.addEventListener("input", () => {
            if(password.value.length > 32)
                alert("The password you entered is too long!");
        });
    </script>
        <!-- Bootstrap JS -->
    <script src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Vendors -->
    <script src="/vendor/tiny-slider/tiny-slider.js"></script>
    <script src="/vendor/glightbox/js/glightbox.js"></script>
    <script src="/vendor/choices/js/choices.min.js"></script>
    <script src="/vendor/flatpickr/js/flatpickr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment"></script>
</html>