<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>WayFinder</title>
    
        <!-- Meta Tags -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Change username here">
    
        <link rel="stylesheet" th:href="@{/css/addUser.css}">
        <script th:src="@{/js/addUser.js}"></script>
        <!-- Favicon -->
        <link rel="shortcut icon" href="/images/favicon.ico"/>

        <!-- footer bottom css -->
        <link rel="stylesheet" href="/css/footerBottom.css">
    
        <!-- Google Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com"/>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap"/>
    
        <!-- Plugins CSS -->
        <link rel="stylesheet" type="text/css" href="/vendor/font-awesome/css/all.min.css"/>
        <link rel="stylesheet" type="text/css" href="/vendor/bootstrap-icons/bootstrap-icons.css"/>
        <link rel="stylesheet" type="text/css" href="/vendor/tiny-slider/tiny-slider.css"/>
        <link rel="stylesheet" type="text/css" href="/vendor/glightbox/css/glightbox.css"/>
        <link rel="stylesheet" type="text/css" href="/vendor/choices/css/choices.min.css"/>
        <link rel="stylesheet" type="text/css" href="/vendor/splide-master/dist/css/splide.min.css">
        <link rel="stylesheet" type="text/css" href="/vendor/flatpickr/css/flatpickr.min.css"/>
    
        <!-- Theme CSS -->
        <link rel="stylesheet" type="text/css" href="/css/style.css"/>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script th:src="@{/js/loading.js}"></script>
    </head>
<!-- Header START -->
<header class="header-sticky">
	<!-- Logo Nav START -->
	<nav class="navbar navbar-light navbar-expand-xl">
		<div class="container-fluid px-md-5">
			<!-- Logo START -->
			<a class="navbar-brand" href="/login">
				<div class="mt-3">	
					<img class="light-mode-item navbar-brand-item" src="/images/logo-icon.svg" alt="logo"></a>
				</div>
				<a href="/login"><h4>WayFinder</h4></a>
			<!-- Logo END -->

			<!-- Nav category menu START -->
			<div class="navbar-collapse collapse" id="navbarCategoryCollapse">
				<ul class="navbar-nav navbar-nav-scroll nav-pills-primary-soft text-center ms-auto p-2 p-xl-0">

					<li class="nav-item"> <a class="nav-link" href="/home"><i class="fa-solid fa-home me-2"></i>Home</a></li>
					<li class="nav-item"> <a class="nav-link" href="/user/viewTrips"><i class="fa-solid fa-globe-americas me-2"></i>View Trips</a></li>
					<li class="nav-item"> <a class="nav-link" href="/login"><i class="fa-solid fa-plane me-2"></i>Travel Planner</a></li>
				</ul>
			</div>
			<!-- Nav category menu END -->

			<!-- Profile and Notification START -->
			<ul class="nav flex-row align-items-center list-unstyled ms-xl-auto">

				<!-- Profile dropdown START -->
				<li class="nav-item ms-3 dropdown">
					<!-- Avatar -->
					<a class="avatar avatar-sm p-0" id="profileDropdown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
						<i class="bi bi-person-circle fa-fw" style="font-size: 40px;"></i>
					</a>
                    
					<ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3" aria-labelledby="profileDropdown">
						<!-- Profile info -->
						<li class="px-3 mb-3">
							<div class="d-flex align-items-center">
								<!-- Avatar -->
								<div class="avatar me-3">
									<img class="avatar-img rounded-circle shadow" src="/images/avatar/profile_avatar.jpg" alt="profile_avatar">
								</div>
								<div>
									<a class="h6 mt-2 mt-sm-0"><span th:text="${edit.username}"></span></a>
									<p class="small m-0"><span th:text="${edit.email}"></span></p>
								</div>
							</div>
						</li>

						<!-- Links -->
						<li> <hr class="dropdown-divider"></li>
						    <li><a class="dropdown-item" href="/user/editPrefs"><i class="bi bi-gear fa-fw me-2"></i>Preference Settings</a></li>
							<li><a class="dropdown-item" href="/user/editAccSettings"><i class="bi bi-person fa-fw me-2"></i>Account Settings</a></li>
                        	<li><a class="dropdown-item bg-danger-soft-hover" href="/user/logout"><i class="bi bi-power fa-fw me-2"></i>Sign Out</a></li>
						<li> <hr class="dropdown-divider"></li>
					</ul>
				</li>
				<!-- Profile dropdown END -->
			</ul>
		</div>
	</nav>
<body>
    <!--Add prefs container-->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h1 class="text-center mt-5 mb-4">Change Username</h1>
                <form action="/user/editUsername" method="post">
                    <div class="mb-3">
                        <input type="text" id="username" name="username" class="form-control form-control-lg"
                            placeholder="Enter new username" required>
                    </div>
                    <div class="mb-3">
                        <input type="password" id="password1" name="password1" class="form-control form-control-lg"
                            placeholder="Password" required>
                    </div>
                    <div class="mb-3">
                        <input type="password" id="password2" name="password2" class="form-control form-control-lg"
                            placeholder="Confirm password"required>
                    </div>
                    <div class="d-grid gap-2">
                        <p th:if="${usernameError}" p style="color:red" class="error-message">[[${usernameError}]]</p>
                        <p th:if="${passwordError}" p style="color:red" class="error-message">[[${passwordError}]]</p>
                        <input class="btn btn-primary" id="regButton" type="submit" href="editAccSettings" value="Save changes"></input>
                    </div>
                </form>
				<form action="editAccSettings" method="get">
					<div class="d-grid gap-2">
							<input class="btn btn-primary" style = "background-color: darkorchid;" id="returnToEditAcc" type="submit" value="Go Back" href="editAccSettings"></input>
							<p style="font-style: italic; font-size: small; text-align: center;">Changes will not be saved</p>
					</div>
				</form>
            </div>
        </div>
    </div>  
</body>
<!-- =======================Footer START -->
<footer class="bg-dark pt-5">
	<div class="container">
		<!-- Row START -->
		<div class="row g-4">

			<!-- Widget 1 START -->
			<div class="col-lg-3">
				<div class="my-3 text-muted">Created by Project Group 12</div>
			</div>
			<!-- Widget 1 END -->

		</div><!-- Row END -->

		<!-- Divider -->
		<hr class="mt-4 mb-0">

		<!-- Bottom footer -->
		<div class="row">
			<div class="container">
				<div class="d-lg-flex justify-content-between align-items-center py-3 text-center text-lg-start">
					<!-- copyright text -->
					<p class="text-muted text-primary-hover"> © 2023 WayFinder. All Rights Reserved. </p>
					<!-- copyright links-->
					<!-- HIDE FROM VIEW SINCE NOT DOING ANYTHING -->
					<div class="nav mt-2 mt-lg-0">
						<ul class="list-inline text-primary-hover mx-auto mb-0">
							<!-- <li class="list-inline-item me-0"><a class="nav-link py-1 text-muted" href="#">Meet the Team</a></li> -->
							<li class="list-inline-item me-0"><a class="nav-link py-1 text-muted" href="/user/home">Home</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a id="linkToTripDisplay" href="/user/tripDisplay" style="display: none"></a>
</footer>
<!-- Bootstrap JS -->
<script src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Vendors -->
<script src="/vendor/tiny-slider/tiny-slider.js"></script>
<script src="/vendor/glightbox/js/glightbox.js"></script>
<script src="/vendor/choices/js/choices.min.js"></script>
<script src="/vendor/flatpickr/js/flatpickr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment"></script>
</html>