<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.9.0/mdb.min.js" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/mdb-ui-kit@3.9.0/dist/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/addUser.css}">
    <script th:src="@{/js/addUser.js}"></script>
    <title>Wayfinder</title>
</head>
<body>
    <!--Taskbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Wayfinder</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="padding-right: 25px;">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                        <span th:text="${edit.username}">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" style="min-width: 20px; float:right; right:0">
                        <li>    
                            <!--REDIRECT TO PREFERENCE SETTINGS-->
                            <a class="dropdown-item" href="/user/editPrefs">Preference Settings</a>
                        </li>
                        <li>
                            <!--REDIRECT TO LOGIN PAGE-->
                            <a class="dropdown-item" href="/logout">Log out</a>
                        </li>
                    </ul>
                </li>
            </ul>
          </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h1 class="text-center mt-5 mb-4">Change Password</h1>
                <!-- To be possibly changed once back end is added -->
                <form action="/user/editPassword" method="post">
                    <div class="mb-3">
                        <input type="password" class="form-control form-control-lg" placeholder="Enter new password"
                            id="password-input" />
                        <div class="valid-feedback">Valid</div>
                        <div class="invalid-feedback">Invalid</div>
                    </div>

                    <!-- password validation -->
                    <div class="w-auto h-auto">
                        <div class="alert d-none" role="alert" data-mdb-color="warning" id="password-alert">
                            <ul class="list-unstyled mb-0">
                                <li class="requirements leng">
                                    <span class="chargood text-primary">Your password has least 8 characters. </span>
                                    <span class="charbad text-danger">Your password must have at least 8 characters.
                                    </span>
                                </li>
                                <li class="requirements big-letter">
                                    <span class="biglgood text-primary">Your password has at least 1 capital letter.
                                    </span>
                                    <span class="biglbad text-danger">Your password must have at least 1 capital letter.
                                    </span>
                                </li>
                                <li class="requirements num">
                                    <span class="numgood text-primary">Your password has at least 1 number. </span>
                                    <span class="numbad text-danger">Your password must have at least 1 number. </span>
                                </li>
                                <li class="requirements special-char">
                                    <span class="chargood text-primary">Your password has at least 1 special character.
                                    </span>
                                    <span class="charbad text-danger">Your password must have at least 1 special
                                        character. </span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- password verification -->
                    <div class="mb-3">
                        <input type="password" id="password2" name="password2" class="form-control form-control-lg"
                            placeholder="Confirm new Password" required>
                        <div class="valid-feedback">The password you entered matches the above</div>
                        <div class="invalid-feedback">The password you entered does not match</div>
                    </div>
                    <!-- Users old password -->
                    <div class="mb-3">
                        <input type="password" id="password3" name="password3" class="form-control form-control-lg"
                            placeholder="Enter current password" required>
                    </div>
                    <div class="mb-3">
                        <input type="password" id="password4" name="password4" class="form-control form-control-lg"
                            placeholder="Confirm current password" required>
                    </div>
                    <!-- Submit button -->
                    <div class="d-grid gap-2">
                        <input class="btn btn-primary" id="regButton" type="submit" href="/user/editAccSettings" value="Save changes"
                            disabled></input>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>