<!DOCTYPE html>
<html lang="en">
<head>
	<title>WayFinder - Home</title>

	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Webestica.com">
	<meta name="description" content="Booking - Multipurpose Online Booking Theme">

	<!-- Favicon -->
	<link rel="shortcut icon" href="/images/favicon.ico">

	<!-- Google Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="/vendor/font-awesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap-icons/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" href="/vendor/tiny-slider/tiny-slider.css">
	<link rel="stylesheet" type="text/css" href="/vendor/choices/css/choices.min.css">
	<link rel="stylesheet" type="text/css" href="/vendor/flatpickr/css/flatpickr.min.css">
	<link rel="stylesheet" type="text/css" href="/vendor/glightbox/css/glightbox.css">

	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="/css/style.css">

	<script src="/vendor/jarallax/jarallax.min.js"></script>
	<script src="/vendor/jarallax/jarallax-video.min.js"></script>

</head>

<body>

<!-- Header START -->
<header class="header-transparent">
	<!-- Logo Nav START -->
	<nav class="navbar navbar-dark navbar-expand-xl">
		<div class="container-fluid px-md-5">

			<!-- Login button -->
			<!-- <div class="nav flex-row ms-xl-auto"  style="margin-top: 20px;">
                <a href="/user/addUser" class="btn btn-sm btn-primary mb-0" style="margin-top: 10px;"><i class="bi bi-person me-2"></i>Signup Here</a>

			</div> -->

		</div>
	</nav>
	<!-- Logo Nav END -->
</header>
<!-- Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>

<!-- =======================
Main Banner START -->
<section class="py-0 banner-section">
    <div class="row">
        <div class="col-lg-12 mx-auto">
            <!-- Slider START -->
            <!-- Card item START -->
            <div class="card overflow-hidden h-400px h-sm-600px bg-parallax text-center rounded-0" data-jarallax-video="https://www.youtube.com/watch?v=j56YlCXuPFU">
                <!-- Background dark overlay -->
                <div class="bg-overlay bg-dark opacity-3"></div>
                <!-- Card image overlay -->
                <div class="card-img-overlay d-flex align-items-center">
                    <div class="container w-100 my-auto">
                        <div class="row justify-content-center">
                            <div class="col-11 col-lg-8">
                                <!-- Title -->
                                <h1 class="display-4 text-white mb-3">Welcome to WayFinder</h1>
								<h5 class="text-white mb-3">Unlock the power of cutting-edge AI for seamless travel planning</h5>
                                <a href="../login" class="btn btn-lg btn-primary mb-0" style="margin-top: 10px;"><i class="bi bi-airplane me-2"></i>Start Your Adventure!</a>
                            </div>
                        </div>
						<a href="/user/addUser" class="btn btn-dark mb-0" style="margin-top: 10px;"><i class="bi bi-person me-2"></i>Signup</a>

                    </div>
                </div>
            </div>
            <!-- Card item END -->
            <!-- Slider END -->
        </div>
    </div>
</section>
<!-- =======================
Main Banner END -->

<!-- =======================
About START -->
<section class="pt-5 pt-md-5 pb-0">
	<div class="container z-index-9">
		<div class="row">
			<div class="col-lg-10 m-auto text-center">
				<h2>The World Awaits You!</h2>
				<p class="lead">
					Introducing WayFinder,  the AI travel planning app that expertly tailors personalized itineraries to match your desired location, budget, and duration preferences. 
					Say goodbye to hours of research - with WayFinder, you get handpicked attractions, curated activities, with travel options fitting your budget. 
					This app adapts to your style, making it your essential travel companion. Create lasting memories, and explore the world effortlessly with WayFinder. 
					Start planning now and let our AI magic guide you to the trip of a lifetime.
				</p>
				<!-- List -->
				<ul class="list-inline hstack gap-4 flex-wrap justify-content-center mt-4">
					<li class="list-inline-item">
						<h5 class="mb-0 fw-normal"><i class="bi bi-star fa-fw text-warning me-1"></i>High Quality Itineraries</h5>
					</li>
					<li class="list-inline-item"> 
						<h5 class="mb-0 fw-normal"><i class="bi bi-pin-map fa-fw text-primary me-1"></i>Any Location</h5>
					</li>
					<li class="list-inline-item"> 
						<h5 class="mb-0 fw-normal"><i class="bi bi-sliders fa-fw text-success me-1"></i>Personalized Preferences</h5>
					</li>
				</ul>
			</div>
		</div> <!-- Row END -->
	</div>
</section>
<!-- =======================
About END -->

<!-- =======================
Near by START -->
<section class="pt-md-7">
	<div class="container">
		<!-- Title -->
		<div class="row mb-4">
			<div class="col-12 text-center">
				<h2 class="mb-0">Popular Destinations</h2>
			</div>
		</div>

		<div class="row g-4 g-md-5 pt-md-4">
			<!-- Card item START -->
			<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
				<div class="card bg-transparent text-center p-1 h-100">
					<!-- Image -->
					<img src="/images/nearby/20.jpg" class="rounded-circle" alt="">

					<div class="card-body p-0 pt-3">
						<h5 class="card-title"><a href="#" class="stretched-link">Honolulu</a></h5>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
				<div class="card bg-transparent text-center p-1 h-100">
					<!-- Image -->
					<img src="/images/nearby/02.jpg" class="rounded-circle" alt="">

					<div class="card-body p-0 pt-3">
						<h5 class="card-title"><a href="#" class="stretched-link">Los Angeles</a></h5>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
				<div class="card bg-transparent text-center p-1 h-100">
					<!-- Image -->
					<img src="/images/nearby/03.jpg" class="rounded-circle" alt="">

					<div class="card-body p-0 pt-3">
						<h5 class="card-title"><a href="#" class="stretched-link">Miami</a></h5>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
				<div class="card bg-transparent text-center p-1 h-100">
					<!-- Image -->
					<img src="/images/nearby/18.jpg" class="rounded-circle" alt="">

					<div class="card-body p-0 pt-3">
						<h5 class="card-title"><a href="#" class="stretched-link">Cairo</a></h5>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
				<div class="card bg-transparent text-center p-1 h-100">
					<!-- Image -->
					<img src="/images/nearby/05.jpg" class="rounded-circle" alt="">

					<div class="card-body p-0 pt-3">
						<h5 class="card-title"><a href="#" class="stretched-link">New York</a></h5>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
				<div class="card bg-transparent text-center p-1 h-100">
					<!-- Image -->
					<img src="/images/nearby/06.jpg" class="rounded-circle" alt="">

					<div class="card-body p-0 pt-3">
						<h5 class="card-title"><a href="#" class="stretched-link">North Justen</a></h5>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
				<div class="card bg-transparent text-center p-1 h-100">
					<!-- Image -->
					<img src="/images/nearby/07.jpg" class="rounded-circle" alt="">

					<div class="card-body p-0 pt-3">
						<h5 class="card-title"><a href="#" class="stretched-link">Rio</a></h5>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
				<div class="card bg-transparent text-center p-1 h-100">
					<!-- Image -->
					<img src="/images/nearby/08.jpg" class="rounded-circle" alt="">

					<div class="card-body p-0 pt-3">
						<h5 class="card-title"><a href="#" class="stretched-link">Tokyo</a></h5>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
				<div class="card bg-transparent text-center p-1 h-100">
					<!-- Image -->
					<img src="/images/nearby/09.jpg" class="rounded-circle" alt="">

					<div class="card-body p-0 pt-3">
						<h5 class="card-title"><a href="#" class="stretched-link">Texas</a></h5>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
				<div class="card bg-transparent text-center p-1 h-100">
					<!-- Image -->
					<img src="/images/nearby/10.jpg" class="rounded-circle" alt="">

					<div class="card-body p-0 pt-3">
						<h5 class="card-title"><a href="#" class="stretched-link">Seoul</a></h5>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
				<div class="card bg-transparent text-center p-1 h-100">
					<!-- Image -->
					<img src="/images/nearby/17.jpg" class="rounded-circle" alt="">

					<div class="card-body p-0 pt-3">
						<h5 class="card-title"><a href="#" class="stretched-link">Paris</a></h5>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
				<div class="card bg-transparent text-center p-1 h-100">
					<!-- Image -->
					<img src="/images/nearby/01.jpg" class="rounded-circle" alt="">

					<div class="card-body p-0 pt-3">
						<h5 class="card-title"><a href="#" class="stretched-link">Dubai</a></h5>
					</div>
				</div>
			</div>
			<!-- Card item END -->
		</div> <!-- Row END -->
	</div>
</section>
<!-- =======================
Near by END -->

<!-- =======================
Gallery START -->
<section class="pt-5 pt-md-7 pb-0 mb-4">
	<div class="container-fluid px-lg-5">
		<!-- Title -->
		<div class="row mb-4">
			<div class="col-12 text-center">
				<h2 class="mb-0">Happy Moments All Over the Globe!</h2>
			</div>
		</div>

		<div class="row g-4">
			<!-- Gallery item -->
			<div class="col-xl-5 mt-xl-auto">
				<img src="/images/resort/05.jpg" class="rounded-3 align-items-bottom" alt="">
			</div>

			<!-- Gallery item -->
			<div class="col-xl-7">
				<div class="card overflow-hidden h-600px" style="background-image:url(/images/resort/04.jpg); background-position: center left; background-size: cover;">
					<!-- Background dark overlay -->
					<div class="bg-overlay bg-dark opacity-3"></div>
					
				</div>
			</div>

			<!-- Gallery item -->
			<div class="col-xxl-7">
				<!-- Slider START -->
				<div class="tiny-slider arrow-round arrow-hover arrow-dark">
					<div class="tiny-slider-inner rounded-2" data-autoplay="false" data-arrow="true" data-dots="false" data-items="1">
						<!-- Image item -->
						<div>
							<a class="w-100 h-100" data-glightbox data-gallery="gallery" href="/images/resort/06.jpg">
								<div class="card card-element-hover card-overlay-hover overflow-hidden">
									<!-- Image -->
									<img src="/images/resort/06.jpg" class="rounded-3" alt="">
									<!-- Full screen button -->
									<div class="hover-element w-100 h-100">
										<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
									</div>
								</div>
							</a>
						</div>

						<!-- Image item -->
						<div>
							<a class="w-100 h-100" data-glightbox data-gallery="gallery" href="/images/resort/05.jpg">
								<div class="card card-element-hover card-overlay-hover overflow-hidden">
									<!-- Image -->
									<img src="/images/resort/05.jpg" class="rounded-3" alt="">
									<!-- Full screen button -->
									<div class="hover-element w-100 h-100">
										<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
									</div>
								</div>
							</a>
						</div>

						<!-- Image item -->
						<div>
							<a class="w-100 h-100" data-glightbox data-gallery="gallery" href="/images/resort/06.jpg">
								<div class="card card-element-hover card-overlay-hover overflow-hidden">
									<!-- Image -->
									<img src="/images/resort/06.jpg" class="rounded-3" alt="">
									<!-- Full screen button -->
									<div class="hover-element w-100 h-100">
										<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
				<!-- Slider END -->
			</div>

			<!-- Gallery item -->
			<div class="col-xxl-5 m-xxl-auto">
				<div class="card card-body bg-transparent p-xxl-6">
					<h3>What makes our travel planner better than others?</h3>
					<p></p>
					<p></p>
					
					<div class="row g-4">
						<!-- Item -->
						<div class="col-12">
							<div class="d-flex">
								<div class="icon-lg bg-primary bg-opacity-10 flex-shrink-0 text-primary rounded-circle"><i class="fa-regular fa-thumbs-up"></i></div>
								<div class="ps-3">
									<h5 class="mt-2">Customizable Itineraries</h5>
								</div>
							</div>
						</div>
						<!-- Item -->
						<div class="col-12">
							<div class="d-flex">
								<div class="icon-lg bg-orange bg-opacity-10 flex-shrink-0 text-orange rounded-circle"><i class="fa-solid fa-star"></i></div>
								<div class="ps-3">
									<h5 class="mt-2">AI Generated from ChatGPT OpenAI</h5>
								</div>
							</div>
						</div>
						<!-- Item -->
						<div class="col-12">
							<div class="d-flex">
								<div class="icon-lg bg-danger bg-opacity-10 flex-shrink-0 text-danger rounded-circle"><i class="bi bi-globe-americas"></i></div>
								<div class="ps-3">
									<h5 class="mt-2">Worldwide with Google API</h5>
								</div>
							</div>
						</div>	
					</div>
				</div>	
			</div>
		</div>
	</div>
</section>
<!-- =======================
Gallery END -->


</main>
<!-- **************** MAIN CONTENT END **************** -->

    <!-- footer start -->
    <footer class="bg-dark">
        <div class="container">
            <!-- Bottom footer -->
            <div class="row">
                <div class="container">
                    <div class="d-lg-flex justify-content-between align-items-center py-3 text-center text-lg-start">
                        <!-- copyright text -->
                        <div class="my-3 text-muted">Created by Project Group 12</div>
                        <div class="text-muted text-primary-hover"> © 2023 WayFinder. All Rights Reserved. </div>
                        <!-- copyright links-->
                    </div>
                </div>
            </div>
        </div>
	<a id="linkToTripDisplay" href="/user/tripDisplay" style="display: none"></a>
</footer>
</div>
<!-- =======================
Footer END -->

<!-- Back to top -->
<div class="back-top"></div>

<!-- Bootstrap JS -->
<script src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Vendors -->
<script src="/vendor/choices/js/choices.min.js"></script>
<script src="/vendor/tiny-slider/tiny-slider.js"></script>
<script src="/vendor/flatpickr/js/flatpickr.min.js"></script>
<script src="/vendor/glightbox/js/glightbox.js"></script>
<script src="/vendor/purecounterjs/dist/purecounter_vanilla.js"></script>

<!-- ThemeFunctions -->
<script src="/js/functions.js"></script>

</body>
</html>