<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Login</title>

    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Trip Planner - Plan Itinerary here">

    <link rel="stylesheet" th:href="@{/css/addUser.css}">
    <script th:src="@{/js/addUser.js}"></script>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico"/>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap"/>

    <!-- Plugins CSS -->
    <link rel="stylesheet" type="text/css" href="/vendor/font-awesome/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap-icons/bootstrap-icons.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/tiny-slider/tiny-slider.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/glightbox/css/glightbox.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/choices/css/choices.min.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/splide-master/dist/css/splide.min.css">
    <link rel="stylesheet" type="text/css" href="/vendor/flatpickr/css/flatpickr.min.css"/>

    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/loading.js}"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h1 class="text-center mt-5 mb-4">Sign in to WayFinder!</h1>
                <form action="/login" method="post">
                    <!--Username input-->
                    <div class="mb-3">
                        <input type="text" id="username" name="username" class="form-control form-control-lg"
                            placeholder="Username" required>
                    </div>
                    <!--Password input-->
                    <div class="mb-3">
                        <div class="col-md-13 input-group">
                            <input type="password" class="form-control form-control-lg" placeholder="Password" name="password-input" id="password-input" required>
                                <i class="input-group-text bi bi-eye-slash-fill" id="togglePassword" style="cursor: pointer;"></i>
                        </div>
                    </div>

                    <div class="mb-3">
                        <p><a href="../user/inputEmailForPin"><u>Forgot Password?</u></a></p>
                    </div>
                    
                    <!--Return error and Login submit-->
                    <div class="d-grid gap-2">
                        <p th:if="${loginError}" p style="color:red" class="error-message">[[${loginError}]]</p>
                        <input class="btn btn-primary" type="submit" href="../user/login" value="LOGIN"></input>
                    </div>
                    <p class="text-center">New to WayFinder? <a href="../user/addUser" class="fw-bold"><u>Sign Up here</u></a></p>
                </form>
            </div>
        </div>
    </div>

    <script>
        const togglePassword = document.querySelector('#togglePassword');
        const passwordInput = document.querySelector('#password-input');
    
        togglePassword.addEventListener('click', () => {
            const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', type);
            togglePassword.classList.toggle('bi-eye-fill');
            togglePassword.classList.toggle('bi-eye-slash-fill');
        });
    </script>
    
</body>

</html>
