<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>WayFinder</title>
    
        <!-- Meta Tags -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Trip Planner - Plan Itinerary here">
    
        <link rel="stylesheet" th:href="@{/css/addUser.css}">
        <script th:src="@{/js/addUser.js}"></script>
        <!-- Favicon -->
        <link rel="shortcut icon" href="/images/favicon.ico"/>
    
        <!-- footer bottom css -->
        <link rel="stylesheet" href="/css/footerBottom.css">
    
        <!-- Google Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com"/>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap"/>
    
        <!-- Plugins CSS -->
        <link rel="stylesheet" type="text/css" href="/vendor/font-awesome/css/all.min.css"/>
        <link rel="stylesheet" type="text/css" href="/vendor/bootstrap-icons/bootstrap-icons.css"/>
        <link rel="stylesheet" type="text/css" href="/vendor/tiny-slider/tiny-slider.css"/>
        <link rel="stylesheet" type="text/css" href="/vendor/glightbox/css/glightbox.css"/>
        <link rel="stylesheet" type="text/css" href="/vendor/choices/css/choices.min.css"/>
        <link rel="stylesheet" type="text/css" href="/vendor/splide-master/dist/css/splide.min.css">
        <link rel="stylesheet" type="text/css" href="/vendor/flatpickr/css/flatpickr.min.css"/>
    
        <!-- Theme CSS -->
        <link rel="stylesheet" type="text/css" href="/css/style.css"/>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script th:src="@{/js/loading.js}"></script>
    </head>
<body>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h2 class="text-center mt-5 mb-4">Enter pin sent to email</h2>
                
                <form action="/user/pinConfirmation" method="post">
                    <!--Input for user's pin, numbers only-->
                    <div class="mb-3">
                        <input type="number" id="pin" name="pin" class="form-control form-control-lg"
                            placeholder="Pin" required>
                            <p style="font-size: small; font-style: italic;">Email may be in your spam folder</p>
                    </div>
                    <div class="alert alert-danger d-none" role="alert" id="pin-error">
                        Invalid pin entered. Please try again.
                    </div>
                    <!--submit-->
                    <div class="d-grid gap-2">
                        <p th:if="${pinError}" p style="color:red" class="error-message">[[${pinError}]]</p>
                        <input class="btn btn-primary" type="submit" href="../user/pinConfirmation.html" value="Submit"></input>
                    </div>
                    <p class="text-center">Know your password? <a href="/login" class="fw-bold"><u>Login here</u></a></p>
                </form>
            </div>
        </div>
    </div>
    <script>
        addEventListener("DOMContentLoaded", (event) => {
            const pinError = document.getElementById("pin-error");
            const pinInput = document.getElementById("pin");

            //check if the pin error message should be shown
            const urlParams = new URLSearchParams(window.location.search);
            if (urlParams.get("error") === "true") {
                pinError.classList.remove("d-none");
            }

            //clear the pin error message when the user starts typing again
            pinInput.addEventListener("input", () => {
                pinError.classList.add("d-none");
            });
        });
    </script>
</body>
   <!-- footer start -->
   <footer class="bg-dark pt-5">
    <div class="container">
        <!-- Row START -->
        <div class="row g-4">

            <!-- Widget 1 START -->
            <div class="col-lg-3">
                <div class="my-3 text-muted">Created by Project Group 12</div>
            </div>
            <!-- Widget 1 END -->

        </div><!-- Row END -->

        <!-- Divider -->
        <hr class="mt-4 mb-0">

        <!-- Bottom footer -->
        <div class="row">
            <div class="container">
                <div class="d-lg-flex justify-content-between align-items-center py-3 text-center text-lg-start">
                    <!-- copyright text -->
                    <p class="text-muted text-primary-hover"> © 2023 WayFinder. All Rights Reserved. </p>
                    <!-- copyright links-->
                    <!-- HIDE FROM VIEW SINCE NOT DOING ANYTHING -->
                    <div class="nav mt-2 mt-lg-0">
                        <ul class="list-inline text-primary-hover mx-auto mb-0">
                            <!-- <li class="list-inline-item me-0"><a class="nav-link py-1 text-muted" href="#">Meet the Team</a></li> -->
                            <li class="list-inline-item me-0"><a class="nav-link py-1 text-muted" href="/user/home">Home</a></li>                        
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
    <!-- Bootstrap JS -->
<script src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Vendors -->
<script src="/vendor/tiny-slider/tiny-slider.js"></script>
<script src="/vendor/glightbox/js/glightbox.js"></script>
<script src="/vendor/choices/js/choices.min.js"></script>
<script src="/vendor/flatpickr/js/flatpickr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment"></script>
</html>
