<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>WayFinder - Itinerary</title>
	

	<!-- Meta Tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Trip Display - View itinerary here">

	<!-- Favicon -->
	<link rel="shortcut icon" href="/images/favicon.ico" />

	<!-- Google Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="/vendor/font-awesome/css/all.min.css" />
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap-icons/bootstrap-icons.css" />
	<link rel="stylesheet" type="text/css" href="/vendor/splide-master/dist/css/splide.min.css">
	<link rel="stylesheet" type="text/css" href="/vendor/glightbox/css/glightbox.css">

	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>

	<!-- Google Maps Polygon Style -->
	<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

	<style>
        .scroll-shadow {
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
        }
		#header {
			position: fixed;
			width: 100%;
			top: 0;
			left: 0;
		}
		html, body {
			height: 100%;
		}
		body {
			display: flex;
			flex-direction: column;
		}
		main {
			flex: 1;
		}
		footer {
			flex-shrink: 0;
		}
		.email-notification {
			position: fixed;
			bottom: -100px;
			left: 50%;
			transform: translateX(-50%);
			background-color: #4caf50;
			color: white;
			padding: 12px;
			border-radius: 4px;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
			transition: bottom 0.5s ease-in-out;
		}
		.banner-container {
			position: relative;
		}
		.banner-title {
			position: absolute;
			top: 0px; 
			left: 20px; 
			padding: 30px; 
			z-index: 1;
			text-align: left;
			color: black !important; 
			width: auto; 
		}
		.banner-title h1 {
			margin-bottom: 5px;
		}
		.banner-title ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}
		.banner-title li {
			color: black !important;
			display: inline-block;
			margin-right: 10px; 
		}
		.splide-main {
  			height: 300px; 
		}
		.splide-main {
  			height: auto;
		}
		.image-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5); 
		border-radius: 10px;
		}
		.banner-title ul {
			list-style: none;
			padding-left: 20px;
		}
		.banner-title ul.nav-divider li {
			color: white;
		}
		li.nav-item::before {
			color: white !important;
		}
	</style>

</head>
<body>

<!-- Header START -->
<header id="header">
	<!-- Logo Nav START -->
	<nav class="navbar navbar-light navbar-expand-xl">
		<div class="container-fluid px-md-5">
			<!-- Logo START -->
			<a class="navbar-brand" href="/user/home">
				<div class="mt-3">	
					<img class="light-mode-item navbar-brand-item" src="/images/logo-icon.svg" alt="logo"></a>
				</div>
				<a href="/user/home"><h4>WayFinder</h4></a>
				
			<!-- Logo END -->

			<!-- Nav category menu START -->
			<div class="navbar-collapse collapse" id="navbarCategoryCollapse">
				<ul class="navbar-nav navbar-nav-scroll nav-pills-primary-soft text-center ms-auto p-2 p-xl-0">

					<li class="nav-item"> <a class="nav-link" href="/login"><i class="fa-solid fa-plane me-2"></i>Travel Planner</a></li>
					<li class="nav-item"> <a class="nav-link" href="/user/viewTrips"><i class="fa-solid fa-globe-americas me-2"></i>View Trips</a></li>
					<li class="nav-item"> <a class="nav-link" href="/user/aboutUs"><i class="fa-solid fa-users me-2"></i>About Us</a></li>
					<li class="nav-item"> <a class="nav-link" href="/user/contact"><i class="fa-solid fa-mobile me-2"></i>Contact</a></li>

				</ul>
			</div>
			<!-- Nav category menu END -->

			<!-- Profile and Notification START -->
			<ul class="nav flex-row align-items-center list-unstyled ms-xl-auto">

				<!-- Profile dropdown START -->
				<li class="nav-item ms-3 dropdown pb-2">
					<!-- Avatar -->
					<a class="avatar avatar-sm p-0" id="profileDropdown" role="button" data-bs-auto-close="outside"
						data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
						<i class="bi bi-person-circle fa-fw" style="font-size: 40px;"></i>
					</a>

					<ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3"
						aria-labelledby="profileDropdown">
						<!-- Profile info -->
						<li class="px-3 mb-3">
							<div class="d-flex align-items-center">
								<!-- Avatar -->
								<div class="avatar me-3">
									<img class="avatar-img rounded-circle shadow"
										src="/images/avatar/profile_avatar.jpg" alt="profile_avatar">
								</div>
								<div>
									<a class="h6 mt-2 mt-sm-0"><span th:text="${user.username}"></span></a>
									<p class="small m-0"><span th:text="${user.email}"></span></p>
								</div>
							</div>
						</li>

						<!-- Links -->
						<li> <hr class="dropdown-divider"></li>
						    <li><a class="dropdown-item" href="/user/editPrefs"><i class="bi bi-gear fa-fw me-2"></i>Preference Settings</a></li>
							<li><a class="dropdown-item" href="/user/editAccSettings"><i class="bi bi-person fa-fw me-2"></i>Account Settings</a></li>
                        	<li><a class="dropdown-item bg-danger-soft-hover" href="/user/logout"><i class="bi bi-power fa-fw me-2"></i>Sign Out</a></li>
						<li> <hr class="dropdown-divider"></li>
					</ul>
				</li>
				<!-- Profile dropdown END -->
			</ul>
			</div>
		</nav>
		<!-- Logo Nav END -->
	</header>
	<!-- Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main style="margin-top: 100px;">
	
<!-- =======================
Main Banner START -->
		<section class="pt-0">
			<div class="container position-relative">

				<!-- Title and button START -->
				<div class="row">
					<div class="col-12">

						<!-- Meta -->
						<div class="d-md-flex justify-content-md-between">
							<!-- Title -->
							<div>
								<h1 class="fs-2"><span th:text="${currTrip.location}"></span></h1>
								<ul class="nav nav-divider h6 text-body mb-0">
									<li class="nav-item"><span th:text="${currTrip.startDate}"></span> to <span
											th:text="${currTrip.endDate}"></span></li>
									<li class="nav-item"><span th:text="${currTrip.budget}"></span>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- Title and button END -->

	<!-- Image gallery START -->
	<div class="row mt-md-5">
		<div class="col-12">
			<!-- Primary image -->
			<div class="banner-container rounded">
			<div class="splide splide-main mb-3" data-splide='{"type" : "fade","autoplay": true,"heightRatio":0.5,"pagination":false,"arrows":false,"cover":true,"lazyLoad":"sequential"}'>
				<div class="splide__track">
					<ul class="splide__list">
						<!-- invisible map -->
						<div id="map" class="d-none"></div>
						<li id="background" class="splide__slide rounded">
						  <div class="image-overlay"></div> <!-- Add the overlay -->
						  <img src="" alt="">
						  <div class="banner-title">
							<h1 class="fs-2"><span style="color: white;" th:text="${currTrip.location}"></span></h1>
							<ul class="nav nav-divider h6 text-body mb-0" style="color: white;">
							  <li class="nav-item" style="color: white;"><span style="color: white;" th:text="${currTrip.startDate}"></span> <span style="color: white;">to</span> <span style="color: white;" th:text="${currTrip.endDate}"></span></li>
							  <li class="nav-item" style="color: white;"><span style="color: white;" th:text="${currTrip.budget}"></span></li>
							</ul>
						  </div>
						</li>
					</ul>
					  
				</div>
			</div>
		</div>
		<!-- Secondary image -->
		<div class="splide splide-thumb display-none" data-splide='{"arrows":false}'>
			<div class="splide__track">
				<ul class="splide__list">
				</ul>
			</div>
		</div>
		</div>
	</div>
	<!-- Image gallery END -->

	</div>
</section>

<style>
	.banner-container {
		position: relative;
		border-radius: 20px; /* Add border-radius to make it curved */
	}

	/* Rest of your styles... */
</style>

<!-- =======================
Main Banner END -->

		<!-- =======================
Tabs-content START -->
<section class="pt-0 pt-md-0">
		<div class="row">
			<!-- Tabs Content START -->
			<div class="col-8 mx-auto">
					<!-- Content item START -->
						<div class="card bg-transparent p-0">
							<!-- Card header -->
							<div class="card-header bg-transparent p-0 pb-0">
								<h3 class="mb-5">Trip Itinerary:</h3>
							</div>
							<hr class="my-0"> <!-- Divider -->

						<!--						TESTING 								-->
						<!-- Card body START -->
						<div class="card-body p-0 pt-3" th:each="day, num:${itinerary}">
							<span class="h3 p-0 pb-2" th:text="${day.key}"></span>
							<hr class="my-0 p-2 mt-2"> <!-- Divider -->
							<div class="accordion accordion-icon accordion-bg-light"
								th:id="'#accordionExample' + ${num.index}">
								<!-- Item -->
								<div th:each="location, i:${day.value}">
									<div class="accordion-item mb-3">
										<h6 class="accordion-header font-base"
											th:id="'heading-' + ${i.index + (num.index * 4)}">
											<button class="accordion-button rounded d-inline-block collapsed"
												th:id="'button-' + ${i.index + (num.index * 4)}" type="button"
												data-bs-toggle="collapse" aria-expanded="false"
												th:attr="data-bs-target='#collapse-'+ ${i.index + (num.index * 4)}, aria-controls='collapse-' + ${i.index + (num.index * 4)}">
												<span class="lead me-1 fw-normal" th:text="${location.key}"><span>
											</button>
										</h6>
										<!-- Body -->
										<div th:id="'collapse-' + ${i.index + (num.index * 4)}"
											class="accordion-collapse collapse"
											th:attr="aria-labelledby='heading-' + ${i.index + (num.index * 4)}, data-bs-parent='#accordionExample' + ${num.index}">
											<div class="accordion-body mt-3">

												<span class="h5 mb-0 me-1" th:text="${location.key}"></span>
												<p class="h6 mb-0 me-1" th:text="${location.value}"></p>

												<!--				MAP WOULD GO HERE  						-->
												<div th:id="'map'+ ${i.index + (num.index * 4)}"></div>
												<p th:id="'note'+ ${i.index + (num.index * 4)}" 
													style="font-style: italic; font-size: smaller;">Nearby restaurants
													within budget included as red markers</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Card body END -->

						<!--Email button-->
						<div class="justify-content-center d-flex">
							<form id="emailForm" method="post">
								<button type="button" class="btn btn-primary" onclick="sendEmailItinerary()"
									id="sendEmailButton">Send Trip Itinerary via Email</button>
								<p style="font-style: italic; font-size: small; text-align: center;">Email will be sent
									to account email</p>
							</form>
						</div>
					</div>
					<!-- Content item END -->

					<!-- Tabs Content END -->
				</div>

			</div> <!-- Row END -->

			<!-- THIS IS FOR DEBUGGING PURPOSES ONLY -->
			<p style="display: none">[[${location}]]</p>
		</section>
		<!-- =======================
Tabs-content END -->

	</main>
	<!-- **************** MAIN CONTENT END **************** -->

    <!-- footer start -->
    <footer class="bg-dark">
        <div class="container">
            <!-- Bottom footer -->
            <div class="row">
                <div class="container">
                    <div class="d-lg-flex justify-content-between align-items-center py-3 text-center text-lg-start">
                        <!-- copyright text -->
                        <div class="my-3 text-muted">Created by Project Group 12</div>
                        <div class="text-muted text-primary-hover"> © 2023 WayFinder. All Rights Reserved. </div>
                        <!-- copyright links-->
                    </div>
                </div>
            </div>
        </div>
	<a id="linkToTripDisplay" href="/user/tripDisplay" style="display: none"></a>
</footer>


	<!-- Back to top -->
	<div class="back-top"></div>

	<!-- Bootstrap JS -->
	<script src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

	<!-- Vendors -->
	<script src="/vendor/splide-master/dist/js/splide.min.js"></script>
	<script src="/vendor/glightbox/js/glightbox.js"></script>

	<!-- ThemeFunctions -->
	<script src="/js/functions.js"></script>
	<script>
		function sendEmailItinerary() {
			var button = document.getElementById("sendEmailButton");
			button.disabled = true; // Disable the button on click

			var form = document.getElementById("emailForm");
			var formData = new FormData(form);

			var xhr = new XMLHttpRequest();
			xhr.open("POST", "/emailItinerary", true);
			xhr.onreadystatechange = function () {
				if (xhr.readyState === XMLHttpRequest.DONE) {
					if (xhr.status === 200) {
						// Email sent successfully
						showEmailNotification();
					} else {
						// Error occurred while sending the email
						alert("Error sending trip itinerary via email.");
					}

					button.disabled = false;
				}
			};
			xhr.send(formData);
		}


		function showEmailNotification() {
			var notification = document.createElement("div");
			notification.className = "email-notification";
			notification.innerHTML = "Trip itinerary sent via email!";

			document.body.appendChild(notification);

			setTimeout(function () {
				notification.style.bottom = "20px";
				setTimeout(function () {
					notification.style.bottom = "-100px";
					setTimeout(function () {
						document.body.removeChild(notification);
					}, 500); // Adjust the time for the fade-out animation
				}, 3000); // Adjust the duration the notification stays visible
			}, 10); // Give a small delay before showing the notification
		}
	</script>


	<!-- Load Google Maps API -->
	<script async defer>(g => { var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window; b = b[c] || (b[c] = {}); var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams, u = () => h || (h = new Promise(async (f, n) => { await (a = m.createElement("script")); e.set("libraries", [...r] + ""); for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]); e.set("callback", c + ".maps." + q); a.src = `https://maps.${c}apis.com/maps/api/js?` + e; d[q] = f; a.onerror = () => h = n(Error(p + " could not load.")); a.nonce = m.querySelector("script[nonce]")?.nonce || ""; m.head.append(a) })); d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)) })
			({ key: "AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg", v: "weekly" });
	</script>

	<!-- Start Google Maps API for Javascript -->
	<script th:inline="javascript">
		var itineraryObj = [[${ itinerary }]];
		var originCity = [[${ currTrip.location }]];
		var budget = [[${ currTrip.budget }]];
		var budgetNum;
		var originCityid;
		var photos;

		var geocoder;
		var service;
		var infowindow;
		var request;
		//range for nearby restaurants in meters
		const range = "500";

		var map;
		var maplist = [];
		var locationlist = [];
		var locationcoords = [];
		var locationmarker = [];
		var notelist = [];
		var mapindex;


		//initialize maps
		async function initMap() {

			//loads necessary libraries
			const { Map, InfoWindow } = await google.maps.importLibrary("maps");
			const { Geocoder } = await google.maps.importLibrary("geocoding");
			const { PlacesService } = await google.maps.importLibrary("places");
			const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");
			const { LatLng } = await google.maps.importLibrary("core");

			//-------------------------------------------code for obtaining image of origin location----------------------------------------------------

			//imaginary map to use other services
			map = new google.maps.Map(document.getElementById("map"), {
				center: { lat: 0, lng: 0 },
				zoom: 15,
			});

			//geocodes origin city and updates origincity's place id
			geocoder = new google.maps.Geocoder();
			geocoder.geocode({ 'address': originCity }, function (results, status) {
				if (status == google.maps.GeocoderStatus.OK) {
					originCityid = results[0].place_id;
					//alert(originCityid);

					//request body to gain image for background use (up to 10 photos)
					request = {
						placeId: originCityid,
						fields: ["photos"],
					}

					//requests photos of origin city based on placeID
					service = new google.maps.places.PlacesService(map);
					service.getDetails(request, (place, status) => {
						if (status === google.maps.places.PlacesServiceStatus.OK) {

							photos = place.photos;
							if (!photos) {
								return;
							}

							//updates the background image
							//alert(photos[0].getUrl());
							document.getElementById("splide02-slide01").style.backgroundImage = 'url(' + photos[0].getUrl() + ')';
						} else {
							//alert('Failed to obtain origin city details for the following reason: ' + status);
							system.log('Failed to obtain origin city details for the following reason: ' + status);
						}
					});


				} else {
					//alert('Geocode was not successful for the following reason: ' + status);
					system.log('Geocode was not successful for the following reason: ' + status);
				}
			});

			//END

			//------------------------------------------code for generating maps for each location and more----------------------------------------------

			//first for loop is to iterate between each day of itinerary
			for (var i = 1; i < Object.keys(itineraryObj).length + 1; i++) {
				//second for loop is to iterate between each location for each day
				for (var j = 0; j < Object.keys(itineraryObj["Day " + i]).length; j++) {

					//index to correspond to the div
					mapindex = (i - 1) * 4 + j;

					//map options to generate new map
					var mapOptions = {
						zoom: 17,
						center: { lat: 0, lng: 0 },
					}

					//building new map and pushing it to maplist
					var map = new google.maps.Map(document.getElementById("map" + mapindex), mapOptions);
					maplist.push(map);

					//obtains location of the container and stores it for later use
					var location = Object.keys(itineraryObj["Day " + i])[j];
					locationlist.push(location);

					var note = document.getElementById("note" + mapindex);
					notelist.push(note);

					//Adds eventlistener to center the map on click of expansion button
					var button = document.getElementById("button-" + mapindex);
					mapObjectIndex = locationlist.indexOf(location);
					console.log(mapObjectIndex);
					button.addEventListener("click", updateCenter.bind(null, mapObjectIndex));
				}

			}
			//geocodes the location obtained 
			geocodeloc();
		}


		function geocodeloc() {

			locationlist.forEach(function (location) {
				//open a new geocode instance
				var geocoder = new google.maps.Geocoder();

				//geocode address and stores it to center associated maps
				geocoder.geocode({ 'address': location }, function (results, status) {
					if (status == google.maps.GeocoderStatus.OK) {
						var latlng = new google.maps.LatLng(results[0].geometry.location.lat(), results[0].geometry.location.lng());
						//alert(location + ", " + latlng);

						//saves the latlng of the associated location on the same index as said location
						var index = locationlist.indexOf(location);
						locationcoords[index] = latlng;

						//searches nearbyRestaurants
						restaurantSearch(latlng, index);

						//making a display marker to show up map
						var icon = "https://maps.google.com/mapfiles/kml/paddle/purple-circle.png";
						const marker = new google.maps.Marker({
							position: latlng,
							icon: { url: icon },
						});
						locationmarker[index] = marker;


					} else {
						//alert('Geocoding ' + location + ' was not successful for the following reason: ' + status);
						console.log('Geocoding ' + location + ' was not successful for the following reason: ' + status);
						//saves the latlng of the associated location on the same index as said location
						var index = locationlist.indexOf("location");
						locationcoords[index] = "";
					}
				});
			});
		}
		// calls nearby search to get restaurants in range (in metres)
		function restaurantSearch(latlng, index) {
			//sets up request to look for nearby restaurants
			budgetNum = 0;
			if (budget[0] == "L") {
				budgetNum = 2;
			} else if (budget[0] == "A") {
				budgetNum = 3;
			} else {
				budgetNum = 4;
			}
			request = {
				location: latlng,
				radius: range,
				type: ['restaurant'],
				maxPriceLevel: budgetNum
			};

			//imaginary map to use other services
			map = new google.maps.Map(document.getElementById("map"), {
				center: { lat: 0, lng: 0 },
				zoom: 15,
			});

			//actually calling the request
			var service = new google.maps.places.PlacesService(map);
			service.nearbySearch(request, function (results, status) {
				if (status == google.maps.places.PlacesServiceStatus.OK) {

					//alert("success?" + results.length);
					for (var i = 0; i < Math.min(results.length, 5); i++) {
						//new request to gather place details request
						const placeDetailsRequest = {
							placeId: results[i].place_id,
							fields: ["name", "formatted_address", "place_id", "geometry", "rating", "price_level"],
						}

						//calling request
						var service = new google.maps.places.PlacesService(map);
						service.getDetails(placeDetailsRequest, (place, status) => {
							if (
								status === google.maps.places.PlacesServiceStatus.OK &&
								place &&
								place.geometry &&
								place.geometry.location
							) {
								var map = maplist[index];
								//making a display marker to show up map
								const marker = new google.maps.Marker({
									position: place.geometry.location,
									map,
								});

								//when marker is clicked, show details
								infowindow = new google.maps.InfoWindow();
								google.maps.event.addListener(marker, "click", () => {
									//container for details element
									const content = document.createElement("div");
									const nameElement = document.createElement("h1");
									nameElement.style.fontSize = "medium";

									nameElement.textContent = place.name;
									content.appendChild(nameElement);

									const placeRatingElement = document.createElement("p");

									placeRatingElement.textContent = "User rating: " + place.rating;
									content.appendChild(placeRatingElement);

									if (place.price_level) {
										const placePriceElement = document.createElement("p");

										var pricetag = "";
										for (var i = 0; i < place.price_level; i++) {
											pricetag += "$";
										}
										placePriceElement.textContent = "Price level: " + pricetag;
										content.appendChild(placePriceElement);
									}

									const placeAddressElement = document.createElement("p");

									placeAddressElement.textContent = place.formatted_address;
									content.appendChild(placeAddressElement);

									infowindow.setContent(content);
									infowindow.open(map, marker);
								});

							} else {
								// alert('placeDetails request was not successful for the following reason: ' + status);
								console.log('placeDetails request was not successful for the following reason: ' + status);
							}
						});

					}
				} else {
					// alert('nearbySearch was not successful for the following reason: ' + status);
					console.log('nearbySearch was not successful for the following reason: ' + status);
				}

			});
		}


		//update map display and center the map on to associated coordinates
		function updateCenter(index) {
			console.log(index);
			if (!locationcoords[index]) {
				maplist[index].__gm.ta.style.display = "none";
				notelist[index].style.display = "none";
			} else {
				maplist[index].__gm.ta.style.display = "block";
				maplist[index].setCenter(locationcoords[index]);
				maplist[index].__gm.ta.style.height = "500px";
				maplist[index].__gm.ta.style.marginTop = "20px";
				locationmarker[index].setMap(maplist[index]);
				notelist[index].style.display = "block";
			}
		}

		//function to manually update all maps for testing
		// function updateCenter() {
		// 	for (var index = 0; index < locationcoords.length; index++) {
		// 		if (locationcoords[index] == null) {
		// 			maplist[index].__gm.ta.style.display = "none";
		// 		} else {
		// 			maplist[index].__gm.ta.style.display = "block";
		// 			maplist[index].setCenter(locationcoords[index]);
		// 			maplist[index].__gm.ta.style.height = "500px";
		// 			maplist[index].__gm.ta.style.marginTop = "20px";
		// 			locationmarker[index].setMap(maplist[index]);

		// 		}
		// 	}
		// }

		window.initMap = initMap();
	</script>

</body>

</html>