<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!-- footer bottom css -->
    <link rel="stylesheet" href="/css/footerBottom.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h1 style=margin-top:50px;> Something really went wrong! </h1>
                <h2>Our Engineers are on it</h2>
                <a class="btn btn-primary btn-lg btn-block" style=margin-top:100px; href="../" role="button">Login
                    Here</a>
            </div>
        </div>
    </div>
</body>
    <!-- footer start -->
    <footer class="bg-dark">
        <div class="container">
            <!-- Bottom footer -->
            <div class="row">
                <div class="container">
                    <div class="d-lg-flex justify-content-between align-items-center py-3 text-center text-lg-start">
                        <!-- copyright text -->
                        <div class="my-3 text-muted">Created by Project Group 12</div>
                        <div class="text-muted text-primary-hover"> © 2023 WayFinder. All Rights Reserved. </div>
                        <!-- copyright links-->
                    </div>
                </div>
            </div>
        </div>
	<a id="linkToTripDisplay" href="/user/tripDisplay" style="display: none"></a>
</footer>

</html>